# fastapi==0.115.0
# uvicorn==0.30.6
# transformers==4.39.3
# torch==2.2.2
# numpy==1.26.4
# scipy==1.10.1
# scikit-learn==1.3.2
# fpdf==1.7.2
# # PyMuPDF==1.23.26

flask
flask-cors
pdfplumber
reportlab
transformers
torch
sentencepiece